@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-bg: #F4F7F6;
  --color-brand-primary: #159897;
  --color-brand-text: #050505;
  --color-brand-accent: #1D7893;
  --color-primary: #159897;
  --color-bg: #F4F7F6;
  --color-ink: #050505;
  --color-accent: #1D7893;
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

body {
  background-color: var(--color-brand-bg);
  color: var(--color-brand-text);
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
